.Filtrage {
    margin: 0 200px 0 200px;
  display: flex;
  justify-content: space-around;
  color: white;
  border: 1px solid rgb(186, 9, 9) ;
  border-radius: 20px;
}
.titre-Filter {
  display: flex;
  align-items: center;
  margin-left: 40px;
  gap: 1rem;
}
.barre-shearch {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.barre-shearch select {
  font-size: 20px;
  padding: 5px;
  width: 250px;
  border:none;
  border-radius: 10px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.rating i {
  color: yellow;
}
.botton {
  display: flex;
  align-items: center;
  padding: 40px;
}
.botton button {
  padding: 10px;
  width: 140px;
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
}
.botton button:hover {
  cursor: pointer;
}
.part2 h1 {
  color: white;
  margin-left: 30px;
}
.part2  p i {
    color: yellow;
    margin-right: 20px;
}
.part2 .card h3 {
  display: flex;
  justify-content: space-around;
  color: white;
}
.part2 .card:hover {
  cursor: pointer;
}
.movies-container {
  display: grid;
  grid-template-columns:repeat(4, 1fr);;
  padding: 20px;
  gap: 100px;
}

/* 🎬 card */
.card2 {
  background: #111;
  color: white;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
}


/* image */
.card2 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* hover effect  */
.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}


